<?xml version="1.0"?>
<config>
    <modules>
        <Fooman_GoogleAnalyticsPlus>
            <version>0.13.15</version>
            <depends>
                <Mage_GoogleAnalytics/>
            </depends>
        </Fooman_GoogleAnalyticsPlus>
    </modules>

    <global>
        <models>
            <googleanalyticsplus>
                <class>Fooman_GoogleAnalyticsPlus_Model</class>
            </googleanalyticsplus>
        </models>
        <helpers>
            <googleanalyticsplus>
                <class>Fooman_GoogleAnalyticsPlus_Helper</class>
            </googleanalyticsplus>
        </helpers>
        <blocks>
            <googleanalyticsplus>
                <class>Fooman_GoogleAnalyticsPlus_Block</class>
            </googleanalyticsplus>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <googleanalyticsplus>
                    <file>googleanalyticsplus.xml</file>
                </googleanalyticsplus>
            </updates>
        </layout>
    </frontend>
    <default>
        <google>
            <analyticsplus>
                <accountnumber2/>
                <domainname2/>
                <firstouch>0</firstouch>
                <anonymise>0</anonymise>
                <amounttotrack/>
                <domainname/>
                <conversionenabled>0</conversionenabled>
                <conversionid/>
                <conversionlanguage>en</conversionlanguage>
                <conversionlabel/>
                <categorytrackingattribute/>
            </analyticsplus>
        </google>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Fooman_GoogleAnalyticsPlus/>
            </modules>
        </suite>
    </phpunit>
</config>

