<?xml version="1.0"?>
<config>
    <modules>
        <Fooman_GoogleAnalyticsPlus>
            <version>0.14.9</version>
        </Fooman_GoogleAnalyticsPlus>
    </modules>

    <global>
        <models>
            <googleanalyticsplus>
                <class>Fooman_GoogleAnalyticsPlus_Model</class>
            </googleanalyticsplus>
        </models>
        <helpers>
            <googleanalyticsplus>
                <class>Fooman_GoogleAnalyticsPlus_Helper</class>
            </googleanalyticsplus>
        </helpers>
        <blocks>
            <googleanalyticsplus>
                <class>Fooman_GoogleAnalyticsPlus_Block</class>
            </googleanalyticsplus>
        </blocks>
        <resources>
            <googleanalyticsplus_setup>
                <setup>
                    <module>Fooman_GoogleAnalyticsPlus</module>
                </setup>
            </googleanalyticsplus_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <googleanalyticsplus>
                    <file>googleanalyticsplus.xml</file>
                </googleanalyticsplus>
            </updates>
        </layout>
    </frontend>
    <default>
        <google>
            <analyticsplus_abstract>
                <success_page_handles>
                    <checkout_multishipping_success/>
                    <checkout_onepage_success/>
                </success_page_handles>
            </analyticsplus_abstract>
            <analyticsplus_classic>
                <accountnumber2/>
                <domainname2/>
                <anonymise>0</anonymise>
                <amounttotrack/>
                <domainname/>
                <conversionenabled>0</conversionenabled>
                <conversionid/>
                <conversionlanguage>en</conversionlanguage>
                <conversionlabel/>
                <categorytrackingattribute/>
            </analyticsplus_classic>
            <analyticsplus_dynremarketing>
                <feed_product_id>entity_id</feed_product_id>
            </analyticsplus_dynremarketing>
        </google>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Fooman_GoogleAnalyticsPlus/>
            </modules>
        </suite>
    </phpunit>
</config>

