<?xml version="1.0"?>
<config>
    <sections>
        <foomancommon>
            <groups>
                <extensions>
                    <fields>
                        <fooman_googleanalyticsplus translate="label" module="googleanalyticsplus">
                            <label>GoogleAnalyticsPlus</label>
                            <frontend_type>label</frontend_type>
                            <frontend_model>googleanalyticsplus/adminhtml_extensioninfo</frontend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fooman_googleanalyticsplus>
                    </fields>
                </extensions>
            </groups>
        </foomancommon>
        <google>
            <groups>
                <analyticsplus translate="label">
                    <label>GoogleAnalyticsPlus by Fooman</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>11</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment><![CDATA[<br />
                    <div class="box">
                    <p>For detailed instructions please refer to the Google Analytics + User Manual <a href="https://store.fooman.co.nz/to/GoogleAnalyticsPlus/manual" target="_blank">here</a>.</p>
                    </div>
                    ]]>
                    </comment>
                    <fields>
                        <enableoptoutcookie translate='label'>
                            <label>Enable opt out cookie</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>510</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[<br />
                            <div class="box">
                            <p>Add support for <a href="https://developers.google.com/analytics/devguides/collection/gajs/?hl=de#disable">google opt out cookie</a>.
                            Add a link like "&lt;a href=&quot;javascript:gaOptout()&quot;&gt;Click here to opt-out of Google Analytics&lt;/a&gt;" to pages of your choice.
                            </p>
                            </div>
                            ]]></comment>
                        </enableoptoutcookie>
                        <convertcurrencyenabled translate='label'>
                            <label>Convert Currency</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>560</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </convertcurrencyenabled>
                        <convertcurrency translate='label'>
                            <label>Currency</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_currency</source_model>
                            <sort_order>570</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><convertcurrencyenabled>1</convertcurrencyenabled></depends>
                        </convertcurrency>
                        <categorytrackingattribute translate="label">
                            <label>Category Tracking Attribute</label>
                            <comment>If none selected then first category name will be used</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>googleanalyticsplus/source_productattribute</source_model>
                            <sort_order>580</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </categorytrackingattribute>
                    </fields>
                </analyticsplus>
                <analyticsplus_classic translate="label">
                    <label>Google Adwords Conversion by Fooman</label>
                    <sort_order>12</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <conversionenabled translate="label">
                            <label>Enable Adwords Conversion Tracking</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>500</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </conversionenabled>
                        <conversionid translate="label">
                            <label>Conversion ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>520</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><conversionenabled>1</conversionenabled></depends>
                        </conversionid>
                        <conversionlanguage translate="label">
                            <label>Conversion Language</label>
                            <frontend_type>select</frontend_type>
                            <source_model>googleanalyticsplus/system_language</source_model>
                            <sort_order>540</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><conversionenabled>1</conversionenabled></depends>
                        </conversionlanguage>
                        <conversionlabel translate="label">
                            <label>Conversion Label</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>550</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><conversionenabled>1</conversionenabled></depends>
                        </conversionlabel>
                        <debug translate="label">
                            <label>Debug</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>560</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </debug>
                    </fields>
                </analyticsplus_classic>
                <analyticsplus_universal translate="label">
                    <label>Google Universal Analytics by Fooman</label>
                    <sort_order>13</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate='label'>
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <accountnumber translate="label">
                            <label>Account Number</label>
                            <comment/>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </accountnumber>
                        <altaccountnumber translate="label">
                            <label>Account Number (alternative Profile)</label>
                            <comment/>
                            <frontend_type>text</frontend_type>
                            <sort_order>150</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </altaccountnumber>
                        <anonymise translate="label">
                            <label>Anonymise IP Address</label>
                            <comment><![CDATA[See <a href="https://support.google.com/analytics/answer/2763052?hl=en" target="_blank">Google Documentation</a> for details]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </anonymise>
                        <force_ssl translate="label">
                            <label>Force HTTPS</label>
                            <comment><![CDATA[See <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/field-reference#forceSSL" target="_blank">Google Documentation</a> for details]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </force_ssl>
                        <domainname translate="label">
                            <label>Cookie Domain Name</label>
                            <comment><![CDATA[Leave empty for standard setups <br/><a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/field-reference#cookieDomain" target="_blank">Google Documentation</a>]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>300</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </domainname>
                        <sitespeedsamplerate translate="label">
                            <label>Site Speed Sample Rate</label>
                            <comment><![CDATA[By default, 1% of users will be automatically tracked, you can increase this setting here.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>350</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sitespeedsamplerate>
                        <allowlinker translate="label">
                            <label>Cross-domain Tracking with Linker</label>
                            <comment><![CDATA[Setting this field to true will enables the parsing of cross-domain linker parmeters used to transfer state across domains.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>360</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </allowlinker>
                        <display_advertising translate='label'>
                            <label>Enable Display Advertising Features</label>
                            <comment><![CDATA[See <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/display-features" target="_blank">Google Documentation</a> for details]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>400</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </display_advertising>
                        <display_advertising_cookiename translate='label'>
                            <label>Display Advertising Features Cookie Name</label>
                            <comment><![CDATA[Leave empty for standard setups <br/><a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/display-features" target="_blank">Google Documentation</a>]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>401</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <display_advertising>1</display_advertising>
                            </depends>
                        </display_advertising_cookiename>
                        <userid_tracking translate='label'>
                            <label>Enable User ID Feature</label>
                            <comment><![CDATA[See <a href="https://support.google.com/analytics/answer/3123662?hl=en&utm_id=ad" target="_blank">Google Documentation</a> for details]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>500</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </userid_tracking>
                        <customer_group translate='label'>
                            <label>Custom Dimension - Customer Group</label>
                            <comment><![CDATA[Customer Group Name]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>googleanalyticsplus/system_dimension</source_model>
                            <sort_order>505</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </customer_group>
                        <enhanced_link_attribution translate='label'>
                            <label>Enable enhanced link attribution</label>
                            <comment><![CDATA[See <a href="https://support.google.com/analytics/answer/2558867?hl=en" target="_blank">Google Documentation</a> for details]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>510</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enhanced_link_attribution>
                        <exclude_shipping translate='label'>
                            <label>Exclude Shipping from Conversion Total</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>600</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </exclude_shipping>
                        <exclude_tax translate='label'>
                            <label>Exclude Tax from Conversion Total</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>610</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </exclude_tax>
                        <debug translate="label">
                            <label>Debug</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>900</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </debug>
                    </fields>
                </analyticsplus_universal>
                <analyticsplus_tagmanager translate="label">
                    <label>Google Tag Manager by Fooman</label>
                    <sort_order>15</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate='label'>
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <tagmanagerid>
                            <label>Google Tag Manager ID</label>
                            <comment>the complete GMT-XXXX</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tagmanagerid>
                        <snippet translate='label'>
                            <label>Container Snippet</label>
                            <comment>Leave empty if using the Google Tag Manager ID setting</comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </snippet>
                    </fields>
                </analyticsplus_tagmanager>
                <analyticsplus_dynremarketing translate="label">
                    <label>Google Dynamic Remarketing by Fooman</label>
                    <sort_order>16</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate='label'>
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <conversionid translate="label">
                            <label>Conversion ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </conversionid>
                        <conversionlabel translate="label">
                            <label>Conversion Label</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </conversionlabel>
                        <feed_product_id translate="label">
                            <label>Product ID in Merchants Feed</label>
                            <comment><![CDATA[Must match the attribute you are using as Product ID in Google Merchants Feed.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>googleanalyticsplus/source_productattribute</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </feed_product_id>
                    </fields>
                </analyticsplus_dynremarketing>
                <analyticsplus_optimize translate="label">
                    <label>Google Optimize by Fooman</label>
                    <sort_order>16</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment><![CDATA[<br />
                    <div class="box">
                        <p>NOTE: You MUST have Universal Analytics Enabled for this to work correctly</p>
                    </div>
                    ]]>
                    </comment>
                    <fields>
                        <enabled translate='label'>
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <enable_page_hiding translate='label'>
                            <label>Enable Page Hiding</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_page_hiding>
                        <container_id translate="label">
                            <label>Container ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </container_id>
                    </fields>
                </analyticsplus_optimize>
            </groups>
        </google>
    </sections>
</config>
