<?xml version="1.0"?>
<config>
    <sections>
        <foomancommon>
            <groups>
                <extensions>
                    <fields>
                        <fooman_googleanalyticsplus translate="label" module="googleanalyticsplus">
                            <label>GoogleAnalyticsPlus</label>
                            <frontend_type>label</frontend_type>
                            <frontend_model>googleanalyticsplus/adminhtml_extensioninfo</frontend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fooman_googleanalyticsplus>
                    </fields>
                </extensions>
            </groups>
        </foomancommon>
        <google>
            <groups>
                <analyticsplus translate="label">
                    <label>GoogleAnalyticsPlus by Fooman</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>11</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment><![CDATA[<br />
                    <div class="box">
                    <p>For detailed instructions please refer to the Google Analytics + User Manual <a href="http://cdn.fooman.co.nz/media/custom/upload/UserManual-FoomanGoogleAnalyticsPlus.pdf">here</a>.</p>
                    </div>
                    ]]>
                    </comment>
                    <fields>
                        <convertcurrencyenabled translate='label'>
                            <label>Convert Currency</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>560</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </convertcurrencyenabled>
                        <convertcurrency translate='label'>
                            <label>Currency</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_currency</source_model>
                            <sort_order>570</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><convertcurrencyenabled>1</convertcurrencyenabled></depends>
                        </convertcurrency>
                        <categorytrackingattribute translate="label">
                            <label>Category Tracking Attribute</label>
                            <comment>If none selected then first category name will be used</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>googleanalyticsplus/source_productattribute</source_model>
                            <sort_order>580</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </categorytrackingattribute>
                    </fields>
                </analyticsplus>
                <analyticsplus_classic translate="label">
                    <label>Google Adwords Conversion by Fooman</label>
                    <sort_order>12</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <conversionenabled translate="label">
                            <label>Enable Adwords Conversion Tracking</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>500</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </conversionenabled>
                        <conversionid translate="label">
                            <label>Conversion ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>520</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><conversionenabled>1</conversionenabled></depends>
                        </conversionid>
                        <conversionlanguage translate="label">
                            <label>Conversion Language</label>
                            <frontend_type>select</frontend_type>
                            <source_model>googleanalyticsplus/system_language</source_model>
                            <sort_order>540</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><conversionenabled>1</conversionenabled></depends>
                        </conversionlanguage>
                        <conversionlabel translate="label">
                            <label>Conversion Label</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>550</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><conversionenabled>1</conversionenabled></depends>
                        </conversionlabel>
                        <debug translate="label">
                            <label>Debug</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>560</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </debug>
                    </fields>
                </analyticsplus_classic>
                <analyticsplus_universal translate="label">
                    <label>Google Universal Analytics by Fooman</label>
                    <sort_order>13</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate='label'>
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <accountnumber translate="label">
                            <label>Account Number</label>
                            <comment/>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </accountnumber>
                        <altaccountnumber translate="label">
                            <label>Account Number (alternative Profile)</label>
                            <comment/>
                            <frontend_type>text</frontend_type>
                            <sort_order>150</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </altaccountnumber>
                        <anonymise translate="label">
                            <label>Anonymise IP Address</label>
                            <comment><![CDATA[See <a href="https://support.google.com/analytics/answer/2763052?hl=en">Google Documentation</a> for details]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </anonymise>
                        <domainname translate="label">
                            <label>Cookie Domain Name</label>
                            <comment><![CDATA[Leave empty for standard setups <br/><a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/field-reference#cookieDomain">Google Documentation</a>]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>300</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </domainname>
                        <display_advertising translate='label'>
                            <label>Enable Display Advertising Features</label>
                            <comment><![CDATA[See <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/display-features">Google Documentation</a> for details]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>400</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </display_advertising>
                        <display_advertising_cookiename translate='label'>
                            <label>Display Advertising Features Cookie Name</label>
                            <comment><![CDATA[Leave empty for standard setups <br/><a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/display-features">Google Documentation</a>]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>401</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <display_advertising>1</display_advertising>
                            </depends>
                        </display_advertising_cookiename>
                        <userid_tracking translate='label'>
                            <label>Enable User ID Feature</label>
                            <comment><![CDATA[See <a href="https://support.google.com/analytics/answer/3123662?hl=en&utm_id=ad">Google Documentation</a> for details]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>500</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </userid_tracking>
                        <exclude_shipping translate='label'>
                            <label>Exclude Shipping from Conversion Total</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>502</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </exclude_shipping>
                        <exclude_tax translate='label'>
                            <label>Exclude Tax from Conversion Total</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>504</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </exclude_tax>
                        <debug translate="label">
                            <label>Debug</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>510</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </debug>
                    </fields>
                </analyticsplus_universal>
                <analyticsplus_tagmanager translate="label">
                    <label>Google Tag Manager by Fooman</label>
                    <sort_order>14</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate='label'>
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <snippet translate='label'>
                            <label>Container Snippet</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </snippet>
                    </fields>
                </analyticsplus_tagmanager>
                <analyticsplus_dynremarketing translate="label">
                    <label>Google Dynamic Remarketing by Fooman</label>
                    <sort_order>15</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate='label'>
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <conversionid translate="label">
                            <label>Conversion ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </conversionid>
                        <conversionlabel translate="label">
                            <label>Conversion Label</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </conversionlabel>
                        <feed_product_id translate="label">
                            <label>Product ID in Merchants Feed</label>
                            <comment><![CDATA[Must match the attribute you are using as Product ID in Google Merchants Feed.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>googleanalyticsplus/source_productattribute</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </feed_product_id>
                    </fields>
                </analyticsplus_dynremarketing>
            </groups>
        </google>
    </sections>
</config>
